a[role=button] {
	--color: #3057A2;
}

/* layout */

a[role=button] {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	flex: none;
	order: 0;
	flex-grow: 1;

	border-radius: 50vh;
	box-sizing: border-box;
	min-block-size: 3.6rem;
	overflow: hidden;
	padding: 0.6rem 1.2rem;
}

/* painting */

a[role=button] {
	line-height: 2rem;
	font-family: var(--default-font);
	font-size: 1.6rem;
	font-weight: 500;
	text-decoration: none;
	leading-trim: both;
	text-edge: cap;
	text-align: center;
	
	border-style: solid;
	border-width: 0.2rem;

	transition-duration: 160ms;
	transition-property: background-color, border-color, border-width, color;
	transition-timing-function: ease-in-out;
}

/* coloring */

a[role=button] {
	background-color: transparent;
	border-color: var(--color);
	color: var(--color);

	&:hover,
	&.s-primary {
		background-color: var(--color);
		border-color: transparent;
		color: white;
	}

	&.s-primary:hover {
		background-color: var(--orange-2);
	}
}

a[role=button]:disabled {
	background-color: var(--gray-84);
	color: white;
	cursor: not-allowed;
	pointer-events: none;
}