/* logo */

position: absolute;
width: 245.17px;
height: 36px;
left: 349px;
top: 26px;



/* Vector */

position: absolute;
left: 18.18%;
right: 80.7%;
top: 4.04%;
bottom: 91.5%;

background: #595653;


/* Vector */

position: absolute;
left: 19.4%;
right: 79.48%;
top: 4.04%;
bottom: 91.5%;

background: #595653;


/* Vector */

position: absolute;
left: 20.61%;
right: 78.26%;
top: 4.04%;
bottom: 91.5%;

background: #595653;


/* Vector */

position: absolute;
left: 21.83%;
right: 77.04%;
top: 4.04%;
bottom: 91.5%;

background: #595653;


/* Клуб четырех коней */

position: absolute;
width: 147px;
height: 36px;
left: 447.17px;
top: 26px;

font-family: 'Golos Text';
font-style: normal;
font-weight: 700;
font-size: 16.6513px;
line-height: 108%;
/* or 18px */
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #595653;

