.o-page-header {
	a[role=button] {
		--color: var(--gray-12);
		padding: 1.4rem 2rem;
		min-inline-size: 26.4rem;
		min-block-size: 7.2rem;
	}
	
	.u-grouping {
		display: flex;
		column-gap: 2rem;
	}
}