/* running line */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 18px 12px;
gap: 12px;

position: relative;
width: 2335px;
height: 60px;

background: #F54932;


/* Дело помощи утопающим — дело рук самих утопающих! */

width: 766px;
height: 24px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 110%;
/* or 24px */
text-align: right;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Ellipse 9 */

width: 6px;
height: 6px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Шахматы двигают вперед не только культуру, но и экономику! */

width: 841px;
height: 24px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 110%;
/* or 24px */
text-align: right;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Ellipse 10 */

width: 6px;
height: 6px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Лед тронулся, господа присяжные заседатели! */

width: 626px;
height: 24px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 110%;
/* or 24px */
text-align: right;
text-transform: uppercase;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Ellipse 11 */

width: 6px;
height: 6px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
